# Environment variables
.env

# Virtual environment
.venv/

# Backup folder
/backup

# Python caches
__pycache__/
*.py[cod]

# OS-specific
.DS_Store
Thumbs.db

# Local Gradio files (optional, if not needed)
.gradio/

# Specific files to ignore
README.md
requirement.txt
