# Environment variables
.env

# Virtual environment
.venv/
venv/
ENV/

# Python caches
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Local Gradio files
.gradio/

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# OS-specific
.DS_Store
Thumbs.db

# Backup folder
/backup

# Specific files to ignore
README_HF.md
requirement.txt
.env_example

# Ignore documents folder
/documents/
/documents/*

# Ignore tessdata folder
/tessdata/
/tessdata/*